figure img {
    height: 60vh;
}
figure {
    display: flex;
    justify-content: flex-end;
}

li {
    list-style: none;
}
hr {
    height: 1px;
    background-color: #000;
    opacity: 1;
    border: none;
}
.tack-skills {
    height: 3rem;
    position: absolute;
    top: 0;
    left: -1rem;
    transform: rotate(-45deg);
}