@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');
h2 {
    text-transform: uppercase;
    position: relative;
    z-index: 100;
}
h2::after {
    content: "";
    position: absolute;
    left: 90px;
    bottom: 16px;
    width: 150px;
    height: 14px;
    transform: skew(-12deg) translateX(-50%);
    background: #cdb4db;
    z-index: -1;
    color: black;
}
figure img {
  height: 60vh;
}
figure {
  display: flex;
  justify-content: flex-end;
}

li {
  list-style: none;
}
hr {
  height: 1px;
  background-color: #000;
  opacity: 1;
  border: none;
}
.tack-left-skill {
  height: 3rem;
  position: absolute;
  top: -2rem;
  left: 31%;
}

.btn-1:hover {
  background-color: #9337c8;
  color: #f8f8f8;
}
.paper::before {
  content: "";
  position: absolute;
  left: 70px;
  height: 100%;
  width: 2px;
  background: rgba(255, 0, 0, 0.4);
}
.lines {
  margin-top: 40px;
  height: calc(100% - 40px);
  width: 100%;
  background-image: repeating-linear-gradient(
    white 0px,
    white 24px,
    steelblue 25px
  );
}

.holes {
    position: absolute;
    left: 40px;
    height: 20px;
    width: 20px;
    background: #f8f8f8;
    border-radius: 50%;
    box-shadow: inset 0px 0px 2px 0px #888;
  }
  .hole-top {
    top: 10%;
  }
  .hole-middle {
    top: 50%;
  }
  .hole-bottom {
    bottom: 10%;
  }

.button-sticker p{
  position: relative;
}
.button-sticker img {
  height: 2.7rem;
  bottom: 10px;
  position: absolute;
}
.button-sticker:hover {
  transform: scale(1.02);
  transition: 0.5s;
}

#historieta{
  display: flex;
  text-align: center;
  align-items: center;
  position: relative;
  top: 20px;
  width: 13rem;
  left: 10px;
  height: 70px;
  background-color: #70afcc;
  border-radius: 25px;
}

#historieta::after{
  content: "";
  position: absolute;
  top: 55px;
  left: 95px;
  width: 0px;
  height: 0px;
  border-top: 20px solid #70afcc;
  border-right: 20px solid transparent;
  border-left: 20px solid transparent;
  transform: rotate(75deg);
}
.cardImage {
  border: 3px solid grey;
  padding: 0.5rem;
  border-radius: 10px;
}
.tack-card {
  position: absolute;
  top: -24px;
  left: 26%;
}
.borderImage {
  position: absolute;
  top: -50px;
  right: 0;
  height: 9rem;
}